/.concierge
/.eslintcache
/.externalToolBuilders
/.gitattributes
/.github
/.idea
/.metadata
/.npmignore
/.project
/.settings
/.vscode
/Apps
/Build/Apps
/Build/CesiumDev
/Build/Coverage
/Build/minifyShaders.state
/Build/Documentation
/Build/Sandcastle
/Build/Specs
/Cesium-*.zip
/cesium-engine-*.tgz
/cesium-widgets-*.tgz
/Documentation
/scripts/
/favicon.ico
/gulpfile.js
/index.html
/index.release.html
/launches
/packages/
/server.js
/Source/copyrightHeader.js
/Specs
/Tools
/launches
/Cesium-*.zip
.DS_Store
Thumbs.db

/Apps/CesiumViewer/Gallery/gallery-index.js

/Apps/Sandcastle/jsHintOptions.js
/Apps/Sandcastle/gallery/gallery-index.js

/Specs/SpecList.js

/node_modules
